*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  margin:1rem;
  background-color: #050020;
}

header{
  background-color: rgba(255, 255, 255, 0.486);
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

nav{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.486);
}

main{
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

aside{
  padding: 1rem;
  background-color: rgb(127, 197, 255);
  border-radius: 5px;
  flex-basis: 18%;
  flex-grow: 1; 
}

.entradas{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  /* le damos un ancho y el resto para el aside  ademas ponemos el grow a 1 para que ocupe todo lo que pueda*/
  flex-basis:75%;
  flex-grow: 1; 
}

article{
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  flex-basis: 500px;
  /* quiero que ocupe todo el espacio */
  flex-grow: 1;
}

input{
  margin-bottom: 1rem;
}

.perro{
  height: 200px;
  background-image: url("https://t2.ea.ltmcdn.com/es/razas/9/7/5/dogo-argentino_579_0_orig.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
